Body {
    background: #777777;
    text-align: center;
    }

    header, nav, h1, p, footer{
        margin: 20px 110px 25px 110px;
        font: 27px arial, sans-serif;
        color: #777777;
        background-color: #ebebeb;
        padding: 30px;
    }

    article {
        text-align: center;
        color: #ebebeb;
        background-color: #777777;
        padding: 20px;
    }

    h1, p {
        margin: 20px 15px 25px 15px;
    }

    footer {
        display: block;
    }

    .clearfix::after{
        content: "";
        display: block;
        clear: both;
    }

    section {
        float: left;
        width: 495px;
        height: 500px;
        color: #777777;
        background-color: #ebebeb;
        padding: 20px;
        margin: 20px 20px 25px 110px;
        overflow: hidden;
    }

    aside {
        float: right;
        width: 495px;
        height: 500px;
        color: #777777;
        background-color: #ebebeb;
        padding: 10px;
        margin: 20px 110px 25px 20px;
        overflow: hidden;
    }

    